body {
  background-color: #44CC77;
  color: #333;
  font-family: sans-serif;
}

input {
  margin: 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.box.label {
  font-size: 0.5em;
  color: #EEE;
}

.box.value {
  color: #4A4;
}